	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eric M. Fink</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="shortcut icon" href="https://www.emfink.net/assets/img/favicon.ico">

<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/style.css" >

<!-- Amplitude JS -->
	<script type="text/javascript" src="https://www.emfink.net/assets/js/amplitude.js"></script>


<!-- Custom icon fonts -->
	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/academicons.min.css">

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/fontawesome-all.min.css">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

<!-- Adobe Fonts -->
	<link rel="stylesheet" href="https://use.typekit.net/bin8lbz.css">
