.big-box,
.mini-box {
    background-color: #10BCFF;
    color: white;
    text-align: left;
    margin: 2px;
    padding: 10px;
    font-size: 1em;
}
.big-box {
    height: 256px;
}
.mini-box {
    height: 2em;
}