#bg {
  position: fixed; 
  top: 0px; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.profile-block {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    width: 95%;
    top: 5%;
    left: 2%;
    text-align: left;
}

.profile h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin: 0px 0 0.5rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h2 {
    font-size: 1.5rem;
    color: white;
    line-height: 2;
    font-weight: 700;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h3 {
    font-size: 1.5rem;
    color: white;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 2rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h4 {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    line-height: 2;
    margin: 0 0 0rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

