.recipe {
	font-family: $sans-font;
}

.recipe p {
	font-family: $sans-font;
    font-size: 1rem;
	color: $text-color; 
}

.recipe ol, ul { 
	font-family: $sans-font;
}

.recipe h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

.recipe-header {
	margin-top: 0;
    margin-bottom: 0;
}

.recipe-illustration {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
    width: 100%;
}

.recipe-header h1 {
	font-family: $heading-font; 
	color: $theme-color;
	font-size: $h1;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 0;
}

.recipe-header h2 {
    font-family: $heading-font; 
	color: $theme-color;
    font-size: $h2;
	line-height: 1.3;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.recipe-header h3 {
    font-family: $heading-font;
	color: $text-color;
    font-size: $h3;
	line-height: 1.3;
	margin-top: 1rem;
	margin-bottom: 0;
}

.recipe-link {
	font-family: $sans-font;
    display: block;
    font-size: .7rem;
}

.recipe-source {
	font-family: $code-font;
    font-size: .7rem;
	color: $link-color;
}

.recipe img {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
    max-width: 100%;
}

.recipe-meta {
    color: $grey;
    font-size: $small-size;
    margin-bottom: 0px;
}
