.social {
    border-top: 0px solid $grey-color-light;
    margin-top: 2rem;
    line-height: 2.5;
}

.contacticon {
    display: block;
    font-size: 60px;
    margin: 0 0 0 0;
}

.social-icons-left, .social-icons-right {
    text-align: left;
    float: none;
}

.social-icons {
    font-size: 1.25rem;
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.social-icons a.fa {
    cursor: pointer;
    opacity: 0.8;
}

.social-icons a.fa:hover {
    opacity: 1;
}

.social-icons iframe[title=Flattr] {
    position: relative;
    top: 0.1em;
}
