<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<img src="{{ site.baseurl }}/assets/img/home.png" id="bg" alt="">

<div class="page-content">


<div class="wrapper">
<div class="post">

  <article class="post-content {{page.title}} clearfix">
	{% for bookmark in site.data.bookmarks %}

	<div class="bookmark">
	<div class="thumbnail">
	<a href="https://{{ bookmark.url }}">
	<span>
	<h4>{{ bookmark.title }}</h4>
	</span>
	</a>
	</div>
	</div>

	{% endfor %}
  </article>

</div>
</div>

</div>

{% include footer.html %}

{% include hemline.html %}

</body>

</html>
