---
layout: no_foot
---
<div class="wrapper">
	<div class="post">

		<header class="post-header">
			<h1 class="post-title">{{ page.title }}</h1>
			<h5 class="post-description">{{ page.description }}</h5>
		</header>

		<article class="post-content {{page.title}} clearfix">

			<div class="bookmarks">
				{% for bookmark in site.data.bookmarks %}
				<div class="thumbnail">
					<a href="https://{{ bookmark.url }}">
						<span>
							<h1>{{ bookmark.title }}</h1>
						</span>
					</a>
				</div>
				{% endfor %}
			</div>

		</article>

	</div>
</div>