<!DOCTYPE html>
<html>
{% include head.html %}
<body class="fullwidth">
	<div class="profile-image contrast-bg" style="background-image: url('cover.png');">
		{% include header.html %}
		<div class="page-container">
			{% for bookmark in site.data.bookmarks %}
			<div class="bookmark">
				<div class="thumbnail">
					<a href="https://{{ bookmark.url }}">
						<span>
							<h4>{{ bookmark.title }}</h4>
						</span>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% include hemline.html %}
	</div>
</body>
</html>