<!DOCTYPE html>
<html>
{% include head.html %}

<body class="fullwidth">

{% include header.html %}

<div class="page-container">

<div id="flat-black-player-container">

<!-- LIST SCREEN -->
	<div id="list-screen" class="slide-in-top">
		<div id="list-screen-header" class="hide-playlist">
			<img id="up-arrow" src="https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/up.svg" />
			Hide Playlist
		</div>
		<!-- LIST -->
		<div id="list">
			{% for song in site.data.songs %}
			<div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{{ song.index }}">
				<span class="song-number-now-playing">
					<img class="now-playing" src="https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/now-playing.svg" />
				</span>

				<div class="song-meta-container">
					<span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="{{ song.index }}"></span>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- END LIST -->
		<!-- LIST FOOTER -->
		<div id="list-screen-footer">
			<div id="list-screen-meta-container">
				<span data-amplitude-song-info="name" class="song-name"></span>
			</div>
			<div class="list-controls">
				<div class="list-previous amplitude-prev"></div>
				<div class="list-play-pause amplitude-play-pause"></div>
				<div class="list-next amplitude-next"></div>
			</div>
		</div>
		<!-- END LIST FOOTER-->
	</div>
<!-- END LIST SCREEN -->


<!-- PLAYER SCREEN -->
	<div id="player-screen">
		<div class="player-header down-header">
			<img id="down" src="https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/down.svg" />
			Playlist
		</div>
		<div id="player-top">
			<img data-amplitude-song-info="cover_art_url" />
		</div>
		<div id="player-progress-bar-container">
			<progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
			<progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
		</div>
		<div id="player-middle">
			<div id="time-container">
				<span class="amplitude-current-time time-container"></span>
				<span class="amplitude-duration-time time-container"></span>
			</div>
			<div id="meta-container">
				<span data-amplitude-song-info="name" class="song-name"></span>
			</div>
		</div>
		<div id="player-bottom">
			<div id="control-container">

				<div id="shuffle-container">
					<div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
				</div>

				<div id="prev-container">
					<div class="amplitude-prev" id="previous"></div>
				</div>

				<div id="play-pause-container">
					<div class="amplitude-play-pause" id="play-pause"></div>
				</div>

				<div id="next-container">
					<div class="amplitude-next" id="next"></div>
				</div>

				<div id="repeat-container">
					<div class="amplitude-repeat" id="repeat"></div>
				</div>

			</div>

			<div id="volume-container">
				<img src="https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/volume.svg" /><input type="range" class="amplitude-volume-slider" step=".1" />
			</div>
		</div>
	</div>
<!-- END PLAYER SCREEN -->

</div>

</div>

{% include open-embed.html %}
{% include footer.html %}
{% include hemline.html %}

<!-- Amplitude JS -->


<script>
Amplitude.init({
  "bindings": {
    37: 'prev',
    39: 'next',
    32: 'play_pause'
  },
  "songs": [
  {% for song in site.data.songs %}
    {		
      "name": "{{ song.title }}",
      "url": "../assets/music/{{ song.url }}",
      "cover_art_url": "../assets/music/{{ song.art }}"
    }
  {% endfor %}
  ]
});
</script>

</body>

</html>