<!DOCTYPE html>
<html>

<head>
{% include head.html %}
<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/amplitudejs-song.css"/>

</head>

<body>
	{% include header.html %}

<div class="page-container">
    <div class="grid-x grid-padding-x">
    	<div class="large-12 medium-12 small-12 cell">

    <div id="single-song-player">
      <img data-amplitude-song-info="cover_art_url"/>
      <div class="bottom-container">
        <progress class="amplitude-song-played-progress" id="song-played-progress"></progress>

        <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
          </span>
          <span class="duration">
            <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
          </span>
        </div>

        <div class="control-container">
          <div class="amplitude-play-pause" id="play-pause"></div>
          <div class="meta-container">
            <span data-amplitude-song-info="name" class="song-name"></span>
          </div>
        </div>
      </div>
    </div>
	
		</div>
	</div>
</div>
	{% include footer.html %}
	{% include hemline.html %}

</body>
<script type="text/javascript">

Amplitude.init({
"songs": [
  {
    "name": "{{ page.title }}",
    "url": "../assets/music/{{ page.url }}",
    "cover_art_url": "../assets/music/{{ page.art }}"
  }
]
});

</script>

<!-- Amplitude JS UX and Playlist -->
<script type="text/javascript" src="../assets/js/song.js"></script>

</html>