<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eric M. Fink</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="shortcut icon" href="https://www.emfink.net/assets/img/favicon.ico">

<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/style.css" >

<!-- Amplitude JS -->
	<script type="text/javascript" src="https://www.emfink.net/assets/js/amplitude.js"></script>
	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/amplitudejs.css"/>
	<link rel="stylesheet" href="https://www.emfink.net/assets/css/foundation.min.css">
    <script type="text/javascript" src="https://www.emfink.net/assets/js/foundation.min.js"></script>
	<script type="text/javascript" src="https://www.emfink.net/assets/js/functions.js"></script>


<!-- Custom icon fonts -->
	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/academicons.min.css">

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/fontawesome-all.min.css">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

<!-- Adobe Fonts -->
	<link rel="stylesheet" href="https://use.typekit.net/bin8lbz.css">


</head>

<body>

	{% include header.html %}

<div class="page-container">

	<div id="single-song-player">
		<img amplitude-song-info="cover_art_url" amplitude-main-song-info="true"/>
	</div>

	<div class="bottom-container">
	      <progress class="amplitude-song-played-progress" amplitude-main-song-played-progress="true" id="song-played-progress"></progress>
	</div>

	<div class="time-container">
	  <span class="current-time">
	    <span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
	  </span>
	  <span class="duration">
	    <span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
	  </span>
	</div>

	<div class="control-container">
	  <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
	</div>

	<div class="meta-container">
	  <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>
	  <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
	</div>

	<div id="volume-container">
		<img src="../assets/img/amplitudejs/volume.svg" /><input type="range" class="amplitude-volume-slider" step=".1" />
	</div>
			
</div>

	{% include footer.html %}
	{% include hemline.html %}

<script>
  Amplitude.init({
    "songs": [
      {
        "name": "{{ page.title }}",
        "url": "../assets/music/{{ page.song }}",
        "cover_art_url": "../assets/music/{{ page.art }}"
      }
    ]
  });
</script>

</body>
</html>